.app-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('./assets/image.jpg'); 
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 
    color: black; 
}
